<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>
      <a href="http://localhost:4000/blogs/displayblogs">Display Blog</a>
      <a href="http://localhost:4000/blogs/displaysingleblog"
        >Display Single Blog</a
      >
      <a href="http://localhost:4000/blogs/postblog">Post Blog</a>
    </h2>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
