<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %> Page</p>
    <button id="myButton">My Name</button>
    <script>
      document
        .getElementById("myButton")
        .addEventListener("click", function () {
          alert("Hansel Reynoso");
        });
    </script>
  </body>
</html>
